header {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    display: grid;
}
.main {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    padding-top: 50px;
    padding-bottom: 40px

}
h1 {
    text-align: center;
    font-size: 50px;
    color: black
}
h2 {
    padding-left: 300px;
    padding-right: 200px;
    font-size: 24px;
}
p {
    padding-left: 300px;
    padding-right: 300px;

}
.logo {
    /* float: left;
    display: inline; */
    margin-left: 150px;
    width: 75px;
    height: 50px;
}

.topNavbar {
    list-style-type: none;
    padding: 0px;
    margin-right: 150px;
    display: flex;
}
/* .topNavbarLi{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    float: right;
    display: inline;
} */
.topNavbarLi a {
    text-decoration: none;
    color: black;
    padding: 25px;
}
.topNavbarLi a:hover {
   color: #FF5733;
}
nav {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.dropdown {
    list-style-type: none;
    display: none;
    margin-top: 5px;
    padding: 0;
    position: relative;
    float: right;
}
.dropdown li {
    margin-top: 5px;
}
.dropdown li:hover{
    color: #FF5733;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    text-align: center;
}
.hiking {
    padding: 35px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.bottomNavBar {
    overflow: hidden;
    color: whitesmoke;
    padding-top: 20px;
    font-size: 14px;
}
.bottomNavBarLi {
    padding: 14px 16px;  
}
.bottomNavBarLi a {
    text-decoration: none;
    color: black;
}
.bottomNavBar Li a:hover{
    color: grey
}
